{{define "content"}}
<form method="POST" action="/marks/create-new">
  <h2>Add a new mark</h2>

  <label>Name: </label>
  <select name="student_id">
    {{range .Students }}
      <option value="{{ .ID }}">{{ .Name }}</option>
    {{end}}
  </select>

  <br>

  <label>Lesson: </label>
  <select name="subject_id">
    {{range .Subjects }}
      <option value="{{ .ID }}">{{ .Title }}</option>
    {{end}}
  </select>

  <br>

  <label>Value: </label>
  <input required name="value" type="number" />

  <button type="submit">Create</button>
</form>
{{end}}
