{{define "content"}}
<div>
    <div>
        <a href="/marks/create-new" class="add-button">Add marks</a>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NameStudent</th>
            <th>Subject</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {{range .Marks}}
            <tr onclick="window.location.href = '/marks/create-new?id={{.ID}}'">
                <td>{{.ID}}</td>
                <td>{{.StudentName}}</td>
                <td>{{.SubjectTitle}}</td>
                <td>{{.Value}}</td>
            </tr>
        {{end}}
    </tbody>
</table>
{{end}}
