{{define "content"}}
<div>
    <div>
        <a href="/students/create-new" class="add-button">Add student</a>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Class</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{range .Students}}
            <tr onclick="window.location.href = '/students/create-new?id={{.ID}}'">
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>{{.Class}}</td>
                <td><a href="/students/delete?id={{ .ID }}">Delete</a></td>
            </tr>
        {{end}}
    </tbody>
</table>
{{end}}
