{{define "content"}}
<div>
    <div>
        Subjects
    </div>
    <div>
        <a href="/subjects/create-new">Add</a>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Subject Title</th>
        </tr>
    </thead>
    <tbody>
        {{range .Subjects}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Title}}</td>
               <td>
                    <a href="/subjects/create-new?id={{.ID}}">Edit</a>
                </td>
            </tr>
        {{end}}
    </tbody>
</table>
{{end}}
