{{define "content"}}
<div>
    <div>
        <a href="/subjects/create-new" class="add-button">Add subject</a>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Subject Title</th>
        </tr>
    </thead>
    <tbody>
        {{range .Subjects}}
            <tr onclick="window.location.href = '/subjects/create-new?id={{.ID}}'">
                <td>{{.ID}}</td>
                <td>{{.Title}}</td>
            </tr>
        {{end}}
    </tbody>
</table>
{{end}}
