{{define "content"}}
<div>
    <div>
        <a href="/users/create-new" class="add-button">Add user</a>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Login</th>
            <th>Class</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{range .Users}}
            <tr onclick="window.location.href = '/users/create-new?id={{.ID}}'">
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>
                <td>{{.Login}}</td>
                <td>{{.Class}}</td>
                <td><a href="/users/delete?id={{ .ID }}">Delete</a></td>
            </tr>
        {{end}}
    </tbody>
</table>
{{end}}
